{{ with $.Site.Params.analytics.google_id }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ . }}');
</script>
{{ end }}