<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>

        {{- partial "head.html" . -}}
    
</head>

<body>
    {{ partial "header" . }} 
    
    {{ block "main" . }}
    {{ end }}

    {{ partial "sidebar" . }}

    {{ partial "contact" . }}
    
    {{ partial "footer" . }}

    {{ partial "cookie" . }}
</body>

</html>