{{ define "main" }}
	<main class="basic_main">
		<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}

		{{ range .Paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
				</div>
			<div class="col-md-1"></div>
			</div>
			</div>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
