<article class="basic_article">
		
	<h2>
		<a href="{{ $.Permalink }}">
			{{ if isset .Params "main_header" }}{{ .Params.main_header }} {{ else }}{{ .Title }}{{ end }}
		</a>
	</h2>
	
	<time>{{ .Date.Format "02.01.2006 15:04" }}</time></br>
	{{ range .Params.tags }}
	<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}</br>
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
