    
    <meta property="og:locale" content="de_DE" />
    
    <meta property="og:type" content="{{ if $.IsPage }}article{{ else }}website{{ end }}" />
    
    <meta property="og:title" content="{{- partial "seo/meta_title.html" . -}}" />
	
	<meta property="fb:app_id" content="106278237406592" /> 
    
    <meta property="og:image" content="{{- partial "seo/meta_image.html" . -}}" />
	
	<meta property="og:url" content="{{ $.Permalink }}" />
	
	<meta property="og:site_name" content="{{ $.Site.BaseURL }}" />
	
	<meta property="og:description" content="{{- partial "seo/meta_description.html" . -}}" />
	
	<meta property="{{ if $.IsPage }}article{{ else }}website{{ end }}:author" content="{{- partial "seo/meta_homepage.html" . -}}" />
	
    {{- partial "seo/open_graph_tags.html" . -}}
    
    {{- partial "seo/open_graph_categories.html" . -}}
	
	{{ with $.Params.Lastmod }}
    <meta property="{{ if $.IsPage }}article{{ else }}website{{ end }}:modified_time" content="{{ time . }}" />
	{{ end }}
	
	{{ with $.Params.Date }}
    <meta property="{{ if $.IsPage }}article{{ else }}website{{ end }}:published_time" content="{{ time . }}" />
	{{ end }}
	