{{ if $.IsHome }}
    <script type="application/ld+json">
    { 
    "@context": "https://schema.org", 
    "@type": "WebSite", 
    "url": "{{ $.Permalink }}", 
    "name": "{{- partial "seo/meta_title.html" . -}}", 
    "image": "{{- partial "seo/meta_image.html" . -}}",
    "description": "{{- partial "seo/meta_description.html" . -}}",
    "author": {
      "@type": "Person",
      "name": "{{ $.Site.Params.author.contact.name }}", 
      "email": "{{ $.Site.Params.author.contact.email }}", 
      "telephone": "{{ $.Site.Params.author.contact.telephone }}",
      "image": "{{ $.Site.Params.author.image }}"
        }
    }
    </script>
    {{ end }}
	
    {{ if $.IsPage }}
	<script type="application/ld+json">		
        {
    "@context": "http://schema.org",
    "@type": "Article",
    "url": "{{ $.Permalink }}",
    "name": "{{- partial "seo/meta_title.html" . -}}",  
    "headline": "{{- partial "seo/meta_title.html" . -}}",
    "image": "{{- partial "seo/meta_image.html" . -}}",
    "description": "{{- partial "seo/meta_description.html" . -}}",
    "author": {
      "@type": "Person",
      "name": "{{ $.Site.Params.author.contact.name }}", 
      "email": "{{ $.Site.Params.author.contact.email }}", 
      "telephone": "{{ $.Site.Params.author.contact.telephone }}",
      "image": "{{ $.Site.Params.author.image }}"
        }
}
        </script>
	{{ end }}