    
    <meta name="description" content="{{- partial "seo/meta_description.html" . -}}" />
    
    <meta name="keywords" content="{{- partial "seo/meta_keywords.html" . -}}" />
    
    <meta name="robots" content="index, follow" />

    <link rel="canonical" href="{{ $.Permalink }}" />
    
    {{- partial "seo/twitter_card.html" . -}}
    
    {{- partial "seo/open_graph.html" . -}}
    
    {{- partial "seo/scheme_org.html" . -}}
    
    