<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{- partial "seo/meta_description.html" . -}}" />
    <meta name="twitter:title" content="{{- partial "seo/meta_title.html" . -}}" />
    <meta name="twitter:site" content="{{- partial "seo/twitter_site.html" . -}}" />
    <meta name="twitter:creator" content="{{- partial "seo/twitter_creator.html" . -}}" />
	<meta name="twitter:image:src" content="{{- partial "seo/meta_image.html" . -}}" />