{{ define "main" }}
	<main class="basic_main">
			<div class="container">
						<div class="row">
							<div class="col-md-1"></div>
			<div class="col-md-10">
		<article class="basic_article">
			<div class="meta_box">
			<h1 class="main_header">
{{ if isset .Params "main_header" }}{{ .Params.main_header }} {{ else }}{{ .Title | default .Site.Title }}{{ end }}
</h1>
			
			<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
				</div>
			<div>
				{{ .Content }}
			</div>


			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
		</article>
				</div>
				<div class="col-md-1"></div>
				</div>
				</div>
	</main>
{{ end }}
