{{ if $.Site.Params.config.contact }}
<footer class="basic_contact">
	<div class="container">
		<div class="row">
		
			<div class="col-12 col-sm-4 text-lg-left px-3 py-3">
			
			{{ $.Page.Site.Params.owner.company }}<br>
            {{ $.Page.Site.Params.owner.contact.street }}<br>
            {{ $.Page.Site.Params.owner.contact.city }}
            
			</div>
			
			<div class="col-12 col-sm-4 text-lg-left px-3 py-3">
			
			<b>Tel:</b> {{ $.Page.Site.Params.owner.contact.telephone }}<br>
			<b>Mobile:</b> {{ $.Page.Site.Params.owner.contact.mobile }}<br>
            <b>Fax:</b> {{ $.Page.Site.Params.owner.contact.fax }}<br>
            <b>E-Mail:</b> {{ $.Page.Site.Params.owner.contact.email }}

    		</div>
    		
			<div class="col-12 col-sm-4 text-lg-left px-3 py-3">
			
			<b><a href="{{ .Site.BaseURL }}kontakt/">Kontakt</a></b><br>
            <b><a href="{{ .Site.BaseURL }}impressum/">Impressum</a></b><br>
            <b><a href="{{ .Site.BaseURL }}datenschutz/">Datenschutz</a></b>

			</div>
			
	</div>
		</div>
</footer>
{{ end }}