{{ if $.Site.Params.config.footer }}
<footer class="basic_footer">
	<div class="container">
		<div class="row">
			<div class="col-1">
			</div>
			<div class="col-12 text-lg-left">
              {{ readFile "/themes/dm_mobile/content/footer.md" | markdownify }}
		</div>
						<div class="col-1">
			</div>
	</div>
		</div>
</footer>
{{ end }}
