
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{- partial "seo/meta_title.html" . -}}</title>
    
    {{- partial "seo/seo.html" . -}}
    
    {{- partial "css/libs.html" . -}}
    
    {{- partial "css/custom.html" . -}}
    
    {{- partial "js/libs.html" . -}}
    
    {{- partial "js/custom.html" . -}}
    
    {{- partial "analytics/google.html" . -}}
    
    {{- partial "analytics/facebook.html" . -}}