<nav class="navbar navbar-light {{ with $.Site.Params.config.navigation.expand }}navbar-expand-{{ . }}{{ end }}">
        {{ with $.Site.Params.owner.logo.default }}
		<a class="navbar-brand" href="{{ $.Site.BaseURL }}">
			<img src="{{ . }}">
			</a>
        {{ end }}
		
		<button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#main_navigation" aria-controls="main_navigation" aria-expanded="false" aria-label="Toggle navigation" data-toggle="tooltip" data-placement="botton" title="Navigation aufklappen">
    <span class="navbar-toggler-icon"></span>
  </button>
		
		<div class="collapse navbar-collapse" id="main_navigation">
		{{ with $.Site.Menus.main }}
		<ul class="navbar-nav">
			
			{{ range . }}
		<li class="nav-item">
        	<a class="nav-link navigation_tracker" href="{{ .URL | relURL }}">{{ .Name }}</a>
      	</li>
			{{ end }}
			
			<li class="nav-item nav-item-close">
        	<a class="nav-link" href="">
						<button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#main_navigation" aria-controls="main_navigation" aria-expanded="false" aria-label="Toggle navigation" data-toggle="tooltip" data-placement="botton" title="Navigation zuklappen">
    <span class="my-1 mx-2 close">X</span>
  </button>
				
			</a>
      	</li>
		</ul>
			</div>
		{{ end }}
	</nav>