{{ if $.Site.Params.config.sidebar }}
<aside class="basic_sidebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center text-lg-left">
		1: {{ .Title }} - _index.md Fontmatter Title<br>
2: {{ .Params.Title }} - _index.md Fontmatter Title<br>
3: {{ .Site.Params.owner.title }} - config.yaml owner Title<br>
4: {{ $.Site.Params.owner.title }} - config.yaml owner Title<br>
5: {{ .Site.Title }} - Config Site Title<br>
6: {{ .Site.Params.title }} - Parameter Config Site Title<br>

With:<br>
{{ with .Params.Title }}{{ . }}{{ else }}
{{ with .Site.Params.owner.title }}{{ . }}{{ else }}
{{ with .Site.Title }}{{ . }}{{ end }}
{{ end }}{{ end }}<br><br>

1: {{ .Params.Title }}<br>
2: {{ .Site.Params.owner.title }}<br>
3: {{ .Site.Title }}<br>
				</div>
	</div>
		</div>
</aside>

{{ end }}
