<div class="card mb-3">
{{ with .Get "header"}}<h5 class="card-header"><strong>{{.}}</strong></h5>{{ end }}
{{ with .Get "src"}}<img class="card-img-top" src="{{.}}">{{ end }}
{{ with .Get "nobody"}} {{ else }}
<div class="card-body">
{{ with .Get "title"}}<h5 class="card-title"><strong>{{.}}</strong></h5>{{ end }}
{{ with .Get "subtitle"}}<h6 class="card-subtitle mb-2 text-muted">{{.}}</h6>{{ end }}
<p class="card-text">{{.Inner | markdownify}}</p>
</div>
{{ end }}
</div>