	<div class="container shortcodes_contact {{ with .Get "class"}}{{.}}{{ end }}">
		<div class="row">
		
			<div class="col-12 col-sm-6 text-lg-left px-3 py-3">
			
			{{ $.Page.Site.Params.owner.company }}<br>
            {{ $.Page.Site.Params.owner.contact.street }}<br>
            {{ $.Page.Site.Params.owner.contact.city }}
            
			</div>
			
			<div class="col-12 col-sm-6 text-lg-left px-3 py-3">
			
			<b>Tel:</b> {{ $.Page.Site.Params.owner.contact.telephone }}<br>
			<b>Mobile:</b> {{ $.Page.Site.Params.owner.contact.mobile }}<br>
            <b>Fax:</b> {{ $.Page.Site.Params.owner.contact.fax }}<br>
            <b>E-Mail:</b> {{ $.Page.Site.Params.owner.contact.email }}

    		</div>
			
	</div>
		</div>