<div class="row shortcodes_foldergallery">
    {{ $base := .Get "src" }}
	{{ $path := print "static/" (.Get "src") }}
    {{ $class := .Get "class" }}
	{{ range (readDir $path) }}
        {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}
        {{- if and $isimg }}
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
       <a class="" href="/{{ $base }}/{{ .Name }}">
         <img class="img-fluid rounded shortcodes_image {{ $class }}"
              src="/{{ $base }}{{ .Name }}">
       </a>
    </div>
    {{- end }}
	{{ end }}
</div>