{{ $.Scratch.Set "baseurl" "https://maps.google.com/maps?&daddr=" }}

{{ if (and (.Get "street") (.Get "city")) }}

{{ $.Scratch.Set "adress" (print (urlize (.Get "street")) "," (urlize (.Get "city"))) }}

{{ $.Scratch.Set "name" (print (.Get "street") "<br>" (.Get "city")) }}

{{ else if (and (.Get "latitude") (.Get "longitude")) }}

{{ $.Scratch.Set "adress" (print (urlize (.Get "latitude")) "," (urlize (.Get "longitude"))) }}

{{ $.Scratch.Set "name" (print (.Get "latitude") "<br>" (.Get "longitude")) }}

{{ end }}

<address>
<a class="shortcodes_googlemaps {{ with .Get "class"}}{{.}}{{ end }}" href="{{ $.Scratch.Get "adress" | safeHTML }}" data-toggle="tooltip" data-placement="top"  title="Google Maps Navigation starten">{{ $.Scratch.Get "name" | safeHTML }}</a>
</address>