<div {{ with .Get "id"}}id="{{ . }}"{{ end }}
class="shortcodes_panorama{{ with .Get "class"}} {{.}}{{ end }}">
 <img src="{{ with .Get "src"}}{{.}}{{ end }}"
 {{ with .Get "alt"}}alt="{{.}}"{{ end }}>
</div>
<script>
$("#{{ with .Get "id"}}{{ . }}{{ end }}").panorama_viewer({
    repeat: true,
    direction: "horizontal",
    animationTime: 200,
    easing: "ease-out",
    overlay: true
  });
</script>