<div id="carousel_controls" class="border rounded carousel slide shortcodes_slideshow" data-interval="false" data-ride="carousel">
  <div class="carousel-inner shortcodes_slideshow_inner">
 {{.Inner }}
  </div>
  <a class="carousel-control-prev" href="#carousel_controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="carousel-control-next" href="#carousel_controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div>