<div class="carousel-item {{ with .Get "active"}}active{{ end }}">
      {{ with .Get "src"}}<img src="{{.}}" class="d-block w-100" alt="">{{ end }}
          
      {{ with .Get "title"}}
      <div class="carousel-caption d-none d-md-block">
        <h5>{{.}}</h5>
      </div>
      {{ end }}
      <div class="shortcodes_slideshow_text">
      {{.Inner }}
      </div>
</div>