<div {{ with .Get "id"}}id="{{ . }}"{{ end }} class="shortcodes_streetmap {{ with .Get "class"}}{{ . }}{{ end }}"></div>
<script>
var {{ with .Get "id"}}_map_{{ . | safeJS }}{{ end }} = L.map('{{ with .Get "id"}}{{ . }}{{ end }}').setView([{{ with .Get "latitude"}}{{ . }}{{ end }}, {{ with .Get "longitude"}}{{ . }}{{ end }}], {{ with .Get "zoom"}}{{ . }}{{ else }}{{ "12" }}{{ end }});
var marker = L.marker([{{ with .Get "latitude"}}{{ . }}{{ end }}, {{ with .Get "longitude"}}{{ . }}{{ end }}]).addTo({{ with .Get "id"}}_map_{{ . | safeJS }}{{ end }});
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: ''
    }).addTo({{ with .Get "id"}}_map_{{ . | safeJS }}{{ end }});
</script>