/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v21-latin/merriweather-v21-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}




/* magra-regular - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/magra-v8-latin/magra-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Magra'),
       url('../fonts/magra-v8-latin/magra-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/magra-v8-latin/magra-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/magra-v8-latin/magra-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/magra-v8-latin/magra-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/magra-v8-latin/magra-v8-latin-regular.svg#Magra') format('svg'); /* Legacy iOS */
}

/* magra-700 - latin */
@font-face {
  font-family: 'Magra';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/magra-v8-latin/magra-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Magra Bold'), local('Magra-Bold'),
       url('../fonts/magra-v8-latin/magra-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/magra-v8-latin/magra-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/magra-v8-latin/magra-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/magra-v8-latin/magra-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/magra-v8-latin/magra-v8-latin-700.svg#Magra') format('svg'); /* Legacy iOS */
}




/* signika-300 - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/signika-v10-latin/signika-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Signika Light'), local('Signika-Light'),
       url('../fonts/signika-v10-latin/signika-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v10-latin/signika-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v10-latin/signika-v10-latin-300.svg#Signika') format('svg'); /* Legacy iOS */
}

/* signika-regular - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/signika-v10-latin/signika-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Signika Regular'), local('Signika-Regular'),
       url('../fonts/signika-v10-latin/signika-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v10-latin/signika-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v10-latin/signika-v10-latin-regular.svg#Signika') format('svg'); /* Legacy iOS */
}

/* signika-600 - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/signika-v10-latin/signika-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Signika SemiBold'), local('Signika-SemiBold'),
       url('../fonts/signika-v10-latin/signika-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v10-latin/signika-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v10-latin/signika-v10-latin-600.svg#Signika') format('svg'); /* Legacy iOS */
}

/* signika-700 - latin */
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/signika-v10-latin/signika-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Signika Bold'), local('Signika-Bold'),
       url('../fonts/signika-v10-latin/signika-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/signika-v10-latin/signika-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/signika-v10-latin/signika-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/signika-v10-latin/signika-v10-latin-700.svg#Signika') format('svg'); /* Legacy iOS */
}




/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}




/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}




