.email_button, 
.skype_button, 
.whatsapp_button, 
.vcard_button, 
.telephone_button {
min-width: 110px !important;
font-weight: 600;
}

.no_table_head > thead {
display: none;
}

.small_element {
max-width: 300px;
max-height: auto;
}

.medium_element {
max-width: 600px;
max-height: auto;
}

.large_element {
max-width: 900px;
max-height: auto;
}

.main_header {
font-size: 1.0rem;
margin: 0rem;
}

.meta_box {
display: None;
}


.basic_contact {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
font-size: 0.9rem;
font-family: Open Sans, PT Sans, Merriweather, Signika, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.basic_footer {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
font-size: 0.9rem;
font-family: Open Sans, PT Sans, Merriweather, Signika, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.basic_header {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

.basic_sidebar {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}

.basic_main {
padding-top: 1rem;
padding-bottom: 1rem;
}

.basic_article {
padding-top: 2rem;
padding-bottom: 2rem;
}