.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.shortcodes_link {

}

.shortcodes_contact {

}

.shortcodes_notification {
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_space {
min-height: 1rem;
}

.shortcodes_div {
min-height: 1rem;
}

.shortcodes_foldergallery {
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_image {
margin-bottom: 0.7rem;
margin-top: 0.7rem;
}

.shortcodes_blockquote {
width: 100%;
height: auto;
font-size: 1.30rem;
font-style: italic;
margin-bottom: 1rem;
margin-top: 1rem;
padding-left: 1rem;
padding-right: 1rem;
}

.shortcodes_slideshow {
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_slideshow_inner {
padding: 1rem;
}

.shortcodes_slideshow_text {
margin: 1rem;
}

.shortcodes_blockquote::before {
content: "„";
font-size: 1.50rem;
}

.shortcodes_blockquote::after {
content: "“";
font-size: 1.50rem;
}



.shortcodes_youtube > iframe {
width: 100%;
height: auto;
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_vimeo > iframe {
width: 100%;
height: auto;
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_table {

}


.shortcodes_streetmap {
width: 400px; 
height: 200px;
margin-bottom: 1rem;
margin-top: 1rem;
}


.shortcodes_panorama > img {
margin-bottom: 1rem;
margin-top: 1rem;
width: 400px; 
height: 200px;
}

.shortcodes_panorama {
margin-bottom: 1rem;
margin-top: 1rem;
width: 500px; 
height: 300px;
}


.shortcodes_skype {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_whatsapp {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_telephone {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_vatnumber {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_fullname  {
font-weight: bold;
margin: 0.2rem;
}


.shortcodes_telefax {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_mail {
font-weight: bold;
margin: 0.2rem;
}

.shortcodes_download {
font-weight: bold;
margin: 0.2rem;
}


.shortcodes_video {
width: 100%;
height: auto;
margin-bottom: 1rem;
margin-top: 1rem;
}

.shortcodes_linkedin > img {
width: 25px;
height: 25px;
}

.shortcodes_googlebusiness > img {
width: 50px;
height: 50px;
}

.shortcodes_googlemaps {

}